<div class="jumbotron">
  <h1>Heading</h1>
</div>

    <div class="contacts container-fluid">
    {{#each EngineeringContacts}}
      <div class="each-contact panel panel-primary col-md-8 col-md-offset-2">
       <div class="panel-heading">
          <h2 class="panel-title">{{this.Name}}</h2>
          <span class="glyphicon glyphicon-edit pull-right">
          </span>
        </div>
        <div class="panel-body">
          <h4>Website:</h3>
          <a href={{this.Website}}>{{this.Website}}</a><br>
          <h4>Email:</h3>
          <a href="mailto:{{this.Email}}">{{this.Email}}</a>
          <h4>Phone:</h3>
          <p>{{this.Phone}}</p>
          <h4>Address:</h3>
          <p>{{this.Address}}</p>
          <h4>Services:</h3>
          <p>{{this.Tags}}</p>
        </div>
      </div>
    {{/each}}
  </div>
