<h1>This is the homepage!!</h1>
  
  <div>
    {{#each contacts}}
        <h2>{{name}}</h2>
        <p>{{website}}</p>
        <p>{{email}}</p>
        <p>{{phone}}</p>
        <p>{{address}}</p>
        <div id="tagsDiv">
          {{#each tags}}
            <span class="services">{{this}}</span>
          {{/each}}
        </div>
    {{/each}}
  </div>
